<% provide :title, t(:help) %>

<h1><%= t(:help)%></h1>
<p>
  <%= t(:greet3)%>
  <%= link_to t(:rails_help), "http://www.railstutorial.org/help" %>

  <br><br>

  <%= t(:greet4)%>
  <em><%= link_to t(:rails_tuto), "http://www.railstutorial.org/book" %>
  </em><%= t(:full_stop) %>
</p>
