<% provide :title, t(:help) %>

<h1><%= t(:help)%></h1>
<p>
  <%= t(:greet3)%>
  <a href="http://www.railstutorial.org/help"><%= t(:rails_help) %></a><%= t(:full_stop) %>

  <br><br>

  <%= t(:greet4)%>
  <a href="http://www.railstutorial.org/book"><em><%= t(:rails_tuto) %></em></a><%= t(:full_stop) %>
</p>
